@font-face {
    font-family: "Adrianna-Regular";
    src: url("./assets/fonts/Adrianna/ADRIANNA-REGULAR.TTF");
}
  
@font-face {
    font-family: "Adrianna-Bold";
    src: url("./assets/fonts/Adrianna/ADRIANNA-BOLD.TTF");
}
  
@font-face {
    font-family: "Adrianna-CondensedBold";
    src: url("./assets/fonts/Adrianna/ADRIANNACONDENSED-BOLD.TTF");
}
 
@font-face {
    font-family: "Monument-Regular";
    src: url("./assets/fonts/Monument/MONUMENTEXTENDED-REGULAR.OTF");
}

@font-face {
    font-family: "Monument-UltraBold";
    src: url("./assets/fonts/Monument/MONUMENTEXTENDED-ULTRABOLD.OTF");
}