@import 'fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Adrianna-Regular', sans-serif;
}

.overflowHidden {
  overflow: hidden;
}

.positionRelative {
  position: relative;
}

.m5 {
  margin: 5rem
}

.m4 {
  margin: 4rem
}

.m3 {
  margin: 3rem
}

.m2 {
  margin: 2rem
}

.m1 {
  margin: 1rem
}

.mv5 {
  margin: 5rem 0
}

.mv4 {
  margin: 4rem 0
}

.mv3 {
  margin: 3rem 0
}

.mv2 {
  margin: 2rem 0
}

.mv1 {
  margin: 1rem 0
}

.mh5{
  margin: 0 5rem
}

.mh4{
  margin: 0 4rem
}

.mh3{
  margin: 0 3rem
}

.mh2{
  margin: 0 2rem
}

.mh1{
  margin: 0 1rem
}

.mt0{
  margin-top: 0;
}



/***Colors****/
$orange: #FFAD43;
/***Fonts****/


/***Size****/

$normalSize: 18px;

/***Spacing****/

$normalSpacing: 16px;

// Container Bootstrap
.container {
  width: 1140px;
  margin: auto;
}

// Row
.row {
  display: flex;
}

// Titles
h1 {
  font-size: 56px;
  font-family: 'Monument-UltraBold', sans-serif;
  letter-spacing: 2.8px;
}

// Black bar
.blackBar {
  width: 100vw;
  height: 42px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1A1919;
  padding-right: 50px;

  a {
    height: 42px;
    font-family: AdriannaCondensedSemiBold, sans-serif;
    font-size: 14px;
    padding: 0px 20px;
    line-height: 42px;
    color: white;

    &.connexion {
      border-left: 1px solid #707070;
      border-right: 1px solid #707070;
    }
  }

  svg {
    margin: auto 30px;
    cursor: pointer;
  }
}

