.productCard {
    max-width: 370px;
    font-family: adrianna, sans-serif;
    padding: 0 16px;

    .buttons{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        transform: translateY(45px);
        transition: all 0.3s ease;
    }

    &:hover .buttons {
        transform: translateY(0px);
    }

    img {
        width: 100%;
        height: 75%;
        max-height: 259px;
        object-fit: contain;
        object-position: center top;
        background-color: #FBFBFB;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 23px 0 6px 0;

        .categorie {
            font-family: 'Adrianna-Regular';
            font-size: 16px;
            color: #B2B2B2;
            text-transform: capitalize;
        }

        .price {
            font-family: 'Adrianna-Bold';
            font-size: 14px;
            color: #222222;
        }
    }

    .bar {
        width: 33px;
        height: 4px;
        background-color: #FFAD43;
    }

    .title {
        font-family: 'Adrianna-CondensedBold';
        margin: 10px 0px;
        font-size: 22px;
        text-transform: uppercase;
        color: #222222;
        
    }
}

.button {
    width: 50%;
    height: 45px;
    border: none;
    border-radius: unset;
    color: #fff;
    font-size: 11px;
    outline: none;
    font-weight: bold;
    background-color: black;
    font-family: 'Adrianna-Regular';
}