.hero {
    height: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .navBar{
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
    }

    .heroImg {
        position: absolute;
        height: 100%;
        width: 100%;
        object-position: center -100px;
        z-index: -1;
    }

    h1 {
        margin-bottom: 10px;
        color: #fff;
    }

    p {
        margin-bottom: 50px;
        color: #fff;
        font-size: 22px;
    }
}

.button{
    width:auto;
    background-color: transparent;
}