.button {
    width: 210px;
    height: 45px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 11px;
    outline: none;
    font-family: 'Monument-Regular';
    letter-spacing: 0.55px;
    cursor: pointer;
}