.title {
  font-family: 'Monument-UltraBold';
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  position: relative;
  margin: auto;

  &:after{
    content: "";
    width: 75px;
    height: 4px;
    background-color: #FFAD43;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
}

.left {
  &:after {
    left: 0%;
    transform: translateX(0%);
  }
}
